{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="bg-info text-center">Register</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% from "_formhelpers.html" import render_field %}
    <form action="/customer/register" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 mt-4">
                {{ render_field(form.name, class="form-control")}}
                {{ render_field(form.username, class="form-control")}}
                {{ render_field(form.email, class="form-control")}}
                {{ render_field(form.password, class="form-control")}}
                {{ render_field(form.confirm, class="form-control")}}<br>
                {{form.profile()}}
            </div>
            <div class="col-md-4 mt-4">
                {{ render_field(form.country, class="form-control")}}
                {{ render_field(form.city, class="form-control")}}
                {{ render_field(form.contact, class="form-control")}}
                {{ render_field(form.address, class="form-control")}}
                {{ render_field(form.state, class="form-control")}}
                {{ render_field(form.pincode, class="form-control")}}<br>
                {{ form.submit(class="btn btn-sm btn-info float-right")}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>
</div>
{% endblock %}